<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <p>
    <label for="pirate[name]">Pirate Name:</label>
    <input type="text" name="pirate[name]">
    <label for="pirate[weight]">Pirate Weight:</label>
    <input type="text" name="pirate[weight]">
    <label for="pirate[height]">Pirate Height:</label>
    <input type="text" name="pirate[height]">
  </p>
</p>
  <label for="pirate[ships][][name]">Name of first ship:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">Type of ship:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">Booty on this ship:</label>
  <input type="text" name="pirate[ships][][booty]">
</p>
</p>
  <label for="pirate[ships][][name]">Name of second ship:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">Type of ship:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">Booty on this ship:</label>
  <input type="text" name="pirate[ships][][booty]">
</p>
  <input type="submit" value="submit">
</form>
